@font-face {
    font-family: 'NewYork';
    src:  url('https://dl.dropboxusercontent.com/s/iof5dmq02bc4v0p/Chomsky.woff2?dl=0') format('woff2');
  }

.navbar {
    font-family: 'NewYork', serif;
}

h4 {
    background-color: rgb(207, 207, 207);
    margin-top:1rem;
    padding: 1rem 1rem 1rem 1rem;
}
form{
    border: 1px solid black;
    padding-bottom: 1rem;
}

